<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>SEATD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type:"text/css" href="../necesarios/css/bootstrap.css">
	<link rel="stylesheet" href="../necesarios/css/datepicker.css">
	
	<script src="../necesarios/js/jquery-1.12.1.js"></script>
	<script src="../necesarios/js/form-seleccion.js"></script>  	
	<script src="../necesarios/js/bootstrap.js"></script>
	<script src="../necesarios/js/bootstrap-datepicker.js"></script>
<body>

</body>
</html>