{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion %}
    
    
{% endblock seccion %}

{% block maincontent %}
<div class="panel panel-primary">
    <div class="panel-heading text-center"><h1>Información del Sistema</h1></div>
    <div class="panel-body">
    <strong>Nombre del sistema:</strong>  Sistema Estadístico de Apoyo a la Toma de Decisiones sobre Planes de Salud (SE-ATDPS)<hr>
    <strong>Version:</strong>  1.0.0<hr>
    <strong>Nombre de la Base de Datos:</strong>  bdproyecto MySQL.<hr>
    <strong>Plataforma:</strong>  Django 1.9 - Python 3.5.<hr>
    <strong>Autor:</strong>  Manuel Salvador Rangel Moreno. Teléfono de contacto: +584145707982, Email: salvatorex89@gmail.com<hr>
    <strong>Carrera y Especialidad:</strong>  Ingenieria de Sistemas (47).<hr>
    <strong>Universidad:</strong>  Instituto Universitario Politecnico Santiago Marino (IUPSM) Extencion Barinas.<hr>
    <strong> Manual de Usuario:</strong> <a href="https://drive.google.com/file/d/0B74ifVqtgzcxdTZyTWNPRm43LVk/view?usp=sharing">Descargar Manual</a>     
    </div>
</div>
{% endblock maincontent %}