{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion %}
    <h1>Resustado Busqueda</h1>
{% endblock seccion %}

{% block maincontent %}
    <form method="POST" action="">{% csrf_token %}
    
    {{form|bootstrap_horizontal}}

    <button type="submit" class="btn btn-primary center-block btn-lg">Modificar</button>
    <hr>
{% endblock maincontent %}

<div class="row">
	<div class="col-lg-12 text-center">
{% block tabla %}
           
				<h1 class="text-center">Visitas del Paciente {{nombre_paciente}}</h1>
				<table class = "table table-hover">
					<thead>
						<tr>
							<td>Fecha</td>
							<td>Doctor</td>
							<td>Enfermedad</td>
							<td>Tratamiento</td>
							<td>Observacion</td>
						</tr>
					</thead>
					<tbody>
						{% if table %}
						{% for table in table %}
						<tr>
							<td>{{ table.fecha_consulta }}</td>
							<td>{{ table.medico_tratante }}</td>
							<td>{{ table.enfermedad_presente }}</td>
							<td>{{ table.tratamiento }}</td>
							<td>{{ table.observacion }}</td>
						</tr>
						{% endfor %}
						{% else %}
						</tr>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
						</tr>
						{% endif %}
					</tbody>
				</table>

{% endblock tabla %}
			</div>
	</div>