{% extends 'base.html' %}
{% load bootstrap %}
{% block maincontent %}
   <div class="panel panel-primary">
      <div class="panel-heading text-center"><h2>Resultado de la Busqueda</h2></div>
      <div class="panel-body">
      	
    	<form method="POST" action="">{% csrf_token %}
    
    	{{form|bootstrap_horizontal}}
      </div>
    </div>
{% endblock maincontent %}


{% block tabla %}
<div class="panel panel-primary">
      <div class="panel-heading text-center"><h2>Visitas del Paciente {{nombre_paciente}}</h2></div>
      <div class="panel-body">
      	<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class='col-lg-2'><h4><span class="glyphicon glyphicon-calendar"></span>Fecha</h4></td>
							<th class='col-lg-2'><h4><span class="glyphicon glyphicon-user"></span> Doctor</h34</td>
							<th class='col-lg-2'><h4><span class="glyphicon glyphicon-tag"></span>Enfermedad</h4></td>
							<th class='col-lg-3'><h4><span class="glyphicon glyphicon-list-alt"></span>Tratamiento</h4></td>
							<th class='col-lg-3'><h4><span class="glyphicon glyphicon-zoom-in"></span>Observación</h4></td>
						</tr>
					</thead>
					<tbody>
						{% if table %}
						{% for table in table %}
						<tr>
							<td>{{ table.fecha_consulta }}</td>
							<td>{{ table.medico_tratante }}</td>
							<td>{{ table.enfermedad_presente }}</td>
							<td>{{ table.tratamiento }}</td>
							<td>{{ table.observacion }}</td>
						</tr>
						{% endfor %}
						{% else %}
						</tr>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
							<td>Sin Registros</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
      </div>
    </div>
{% endblock tabla %}
			
	
