{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion %}
    <h1>Generar Consulta</h1>
    <h3>Solo Pacientes Registrados</h3>
{% endblock seccion %}

{% block maincontent %}
	<form  class="form-horizontal" method="POST" action="" role='form'>{% csrf_token %}
		{{formularioConsulta|bootstrap_horizontal}}
		<div class="col-lg-8 col-sm-offset-2">
			<button type="submit" class="btn btn-primary center-block btn-lg">Guargar Consulta</button>
		</div>
    </form>
{% endblock maincontent %}
