<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Historia Clinica</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>
	<!--Primer contenedor-->
	<div class="container well">
		<div class="row">
		<!--Contenedor de la cabecera logo-->
			<div class="col-md-3">
				<img src="../imagenes/histclinica.png" class="img-responsive center-block" width="100" >
			</div>
			<div class="col-md-6">
				<img src="../imagenes/logoHC.png" class="img-responsive center-block" width="250" height="100" >
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary center-block">Volver</button>
			</div>
			
		</div>
	</div>
	
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</body>
</html>