{% extend base.html %}

{% block section %}
	<h2>Categoria</h2>
	<hr>
{% endblock section %}

{% block maincontent %}
<div class="container well" id="sha">
	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="">{% csrf_token %}
				<div class="form-group">
					<label for="usuario">Usuario</label>
						<input type="text" class="form-control" id="usuario" placeholder="Nombre de Usuario" name="usuario" required>
				</div>
				<div class="form-group">
					<label for="contraseña">Contraseña</label>
					<input type="password" class="form-control" id="contraseña" placeholder="Contraseña" name="contraseña" required>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
				<p class="help-block"><a href="#">Recordar Contraseña</a></p>
				
			</form>
		</div>	
	</div>

</div>
{% endblock maincontent %}