{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Bienvenido-Identifiquese</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type:"text/css" href="{% static 'css/bootstrap.css' %}"/>
	
	<style>
		body{
			
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.login {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		#sha{
			max-width: 340px;
			-webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
			-moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
			box-shadow: 		0px 0px 18px 0px rgba(48, 50, 50, 0.48);
			border-radius: 6%;
		}	

	</style>

<body>
	<!--Imagen de Arriba-->
	<div class="container well">
		<div class="row">
			<div class="col-md-12">
				<img src="{% static 'imagenes/medicina-banner.jpg' %}" class="img-responsive center-block" id="logo-bienvenido"/>
				
			</div>
		</div>
	</div>
	<br />
	<!--Contenedor del formulario de login-->
	<div class="container well" id="sha">
		<div class="row">
			<div class="col-md-12">
				<form method="POST" action="">{% csrf_token %}
					<div class="form-group">
						<label for="usuario">Usuario</label>
						<input type="text" class="form-control" id="usuario" placeholder="Nombre de Usuario" name="username" required>
					</div>
					<div class="form-group">
						<label for="contraseña">Contraseña</label>
						<input type="password" class="form-control" id="contraseña" placeholder="Contraseña" name="password" required>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
					<p class="help-block"><a href="#">Recordar Contraseña</a></p>
					
				</form>
			</div>	
		</div>

	</div>
	
	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/form-seleccion.js" %}"></script>  	
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
</body>
</html>