{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion %}
    
    
{% endblock seccion %}

{% block maincontent %}
<div class="panel panel-primary">
    <div class="panel-heading text-center"><h1>Soporte a Toma de Decisiones</h1></div>
    <div class="panel-body">
    <div class= "nav nav-pills nav-justified">
        <li class="active"><a href="/std/">Agregar Plan</a></li>
        <li><a href="/addenf/">Agregar Enfermedad</a></li>
        <li><a href="#">Modificar Plan</a></li>
        <li><a href="/planes/">Ejecutar</a></li>  
    </div>
    <hr>
    
        
	   <form  class="form-horizontal" method="POST" action="">{% csrf_token %}
		{{formulario|bootstrap_horizontal}}
	  	    <div class="col-lg-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary center-block btn-lg">Guargar Plan</button>
            </div>
        </form>
        
    
    </div>
</div>
{% endblock maincontent %}